In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
ad_data = pd.read_csv('advertising (1).csv')

In [5]:
ad_data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [6]:
from datetime import datetime

In [7]:
ad_data['date'] = pd.to_datetime(ad_data['Timestamp'], format='%Y-%m-%d %H:%M:%S')

In [9]:
ad_data['hour'] = ad_data['date'].dt.hour
ad_data['hour']

0       0
1       1
2      20
3       2
4       3
       ..
995    21
996     2
997    17
998     2
999    21
Name: hour, Length: 1000, dtype: int32

In [15]:
def f(x):
    if (x > 4) and (x <= 12):
        return 'Morning'
    elif (x > 12) and (x <= 20):
        return'Afteroon'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'

In [16]:
ad_data['sod'] = ad_data['hour'].apply(f)
print (ad_data['sod'])

0      Late Night
1      Late Night
2        Afteroon
3      Late Night
4      Late Night
          ...
995         Night
996    Late Night
997      Afteroon
998    Late Night
999         Night
Name: sod, Length: 1000, dtype: object

In [10]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()
ad_data['Country']=le.fit_transform(ad_data['Country'])
ad_data['Country']

In [6]:
counts_adtopicline=ad_data.groupby(['Ad Topic Line'])['Ad Topic Line'].count()
counts_adtopicline

Ad Topic Line
Adaptive 24hour Graphic Interface          1
Adaptive asynchronous attitude             1
Adaptive context-sensitive application     1
Adaptive contextually-based methodology    1
Adaptive demand-driven knowledgebase       1
                                          ..
Visionary client-driven installation       1
Visionary maximized process improvement    1
Visionary mission-critical application     1
Visionary multi-tasking alliance           1
Visionary reciprocal circuit               1
Name: Ad Topic Line, Length: 1000, dtype: int64

In [7]:
counts_country=ad_data.groupby(['Country'])['Country'].count()
counts_country

Country
Afghanistan          8
Albania              7
Algeria              6
American Samoa       5
Andorra              2
                    ..
Wallis and Futuna    4
Western Sahara       7
Yemen                3
Zambia               4
Zimbabwe             6
Name: Country, Length: 237, dtype: int64

In [16]:
counts_country1=ad_data.groupby(['Country','Clicked on Ad'])['Country'].count()
print(counts_country1)

Country      Clicked on Ad
Afghanistan  0                3
             1                5
Albania      0                3
             1                4
Algeria      0                3
                             ..
Yemen        1                2
Zambia       0                1
             1                3
Zimbabwe     0                2
             1                4
Name: Country, Length: 430, dtype: int64

In [20]:
le=LabelEncoder()
ad_data['Country']=le.fit_transform(ad_data['Country'])
ad_data['Country']

0      215
1      147
2      184
3      103
4       96
      ...
995    116
996     26
997    140
998     85
999     28
Name: Country, Length: 1000, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = ad_data[['Daily Time Spent on Site', 'Age', 'Area Income','Daily Internet Usage', 'Male','Country']]
y = ad_data['Clicked on Ad']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
NBmodel = nb.fit(X_train, y_train)
NBPredictions = NBmodel.predict(X_test)
# print(NBPredictions)
acc2 = accuracy_score(y_test, NBPredictions)
print("Improved Accuracy : ",acc2*100)

Improved Accuracy :  96.06060606060606